@charset "utf-8";
/* CSS Document */

@media all and (min-width: 1px){
	#section1{
		height:652px;
		padding-top:120px;
	}
	
	.section1_loginBox{
		position:relative;
		width:80%;
		height:310px;
		background:#fff;
		border:solid 2px #eeeeee;
		padding-top:40px;
		margin:0 auto;
	}
	.mentBox{
		width:90%;
		height:15px;
		position:relative;
		margin-left:10%;
		margin-bottom:30px;
	}
	.warning_icon{
		position:relative;
		float:left;
		width:15px;
		height:15px;
		background:url(../01_img/02_Sub/mark.png) center center no-repeat;
		background-size:contain;
		display:none;
	}
	.section1_loginMent{
		position:relative;
		float:left;
		font-family: 'Nanum Gothic', sans-serif;
		font-size:13px;
		
	}
	
	.inputBox{
		position:relative;
		width:80%;
		height:45px;
		background:#f5f5f5;
		border: solid 2px #eeeeee;
		margin:0 auto;
		margin-bottom:30px;
		padding-left:35px;
		padding-top:3px;
	}
	.inputText{
		width:80%;
		height:35px;
		margin:0 auto;
		background:transparent;
		border:none;
		font-family: 'Nanum Gothic', sans-serif;
		font-size:12px;
		line-height:35px;
		color:#999;
	}
	.loginButton{
		position:relative;
		float:left;
		width:100px;
		height:45px;
		background:#996867;
		font-family: 'Montserrat', sans-serif;
		font-size:12px;
		line-height:45px;
		text-align:center;
		color:#fff;
		font-weight:bold;
		margin-left:10%;
		cursor:pointer;
	}
	
	.section1_textBox{
		position:relative;
		width:320px;
		font-size:12px;
		margin:0 auto;
		margin-top:90px;
	}
	.section1_text{
		float:left;
		font-family: 'Montserrat', sans-serif;
		font-size:12px;
		line-height:15px;
		padding:0 19px;
		background:none !important;
		color:#000 !important;
		cursor:pointer;
	}
	.section1_text:nth-child(1){
		border-right:solid 1px #000;
	}
	.section1_text:nth-child(2){
		border-left:solid 1px #000;
		border-right:solid 1px #000;
		margin:0 2px;
	}
	.section1_text:nth-child(3), .section1_text_{
		border-left:solid 1px #000;
		border-right:none !important;
	}
	
}
@media all and (min-width: 727px){
	.mentBox{
		margin-left:35px;
	}
	.section1_textBox{
		font-size:14px;
	}
	.section1_loginBox{
		width:570px;
	}
	.inputBox{
		width:510px;
	}
	.loginButton{
		margin-left:30px;
	}
}
@media all and (min-width: 1020px){
}
