@charset "utf-8";
/* CSS Document */
@media all and (min-width: 1px){
	#section1{
		height:1605px;
	}
	.section1Center{
		position:relative;
		width:95%;
		max-width:750px;
		height:100%;
		margin:0 auto;
		padding-top:60px;
	}
	.intro-3D div{
		width: 100% !important;
		height: 100% !important;
	}
	.intro-3D canvas{
		width: 100% !important;
		height: 100% !important;
	}
	
	.radioBox{
		position:relative;
		height:15px;
		font-family: "Nanum Gothic", sans-serif;
		font-size:14px;
	}
	.section1Title{
		position:relative;
		font-family: "Nanum Gothic", sans-serif;
		font-size:14px;
		color:#666;
		margin-top:30px;
		margin-bottom:15px;
	}
	.threeBox{
		position:relative;
		width:100%;
		height:380px;
		background:#666;
	}
	
	.customInfoBox{
		position:relative;
		width:100%;
		padding:15px;
		font-family: "Nanum Gothic", sans-serif;
		font-size:12px;
		line-height:150%;
		color:#666;
		background:#f5f5f5;
		border:solid 1px #f1f1f1;
	}
	
	.customImageBox{
		position:relative;
		width:100%;
		height:380px;
		background:url(../01_img/3459_Contact/Custom_1.jpg) center center no-repeat;
		background-size: contain;
		border:solid 1px #f1f1f1;
	}
	
	.section1MentBox{
		position:relative;
		width:100%;
		height:30px;
		margin-top:15px;
	}
	.clamp{
		float:left;
		height:100%;
		font-family: "Nanum Gothic", sans-serif;
		font-size:12px;
		color:#F30;
		margin-right:5px;
	}
	.customMent{
		float:left;
		width:95%;
		font-family: "Nanum Gothic", sans-serif;
		font-size:12px;
		line-height:15px;
	}
	
	.section1Buttons{
		position:relative;
		width:365px;
		height:45px;
		margin:0 auto;
		margin-top:120px;
	}
	.reQuestAgainB,.reQuestB{
		position:relative;
		float:left;
		width:165px;
		height:100%;
		font-family: "Nanum Gothic", sans-serif;
		font-size:12px;
	}
	.reQuestAgainB{
		color:#666 !important;
		background:#fff !important;
		border: solid 1px #666;
		margin-right:35px;
	}
	.fianlDo{
		width:300px;
	}
}
@media all and (min-width: 727px){
	.customInfoBox{
		font-size:14px;
	}
	.section1MentBox{
		height:15px;
	}
	.clamp{
		font-size:14px;
		line-height:15px;
	}
	.customMent{
		font-size:14px;
	}
	
	
}
@media all and (min-width: 1024px){
	
}

