@charset "utf-8";
/* CSS Document */
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
@media all and (min-width: 1px){
	#section1{
		height:900px;
	}
	.section_Center{
		position:relative;
		width:95%;
		max-width:1020px;
		height:100%;
		margin:0 auto;
		padding-top:120px;
	}
	.selectBox{
		position:absolute;
		right:0;
		top:40px;
		width:260px;
		height:40px;
	}
	#mypageSelect{
		display:block;
		float:left;
		position:relative;
		width:170px;
		height:100%;
		text-indent: 15px;
		font-family: "Nanum Gothic", sans-serif;
		font-size:13px;
		font-weight:bold;
		background:url(../01_img/03_Object-calender/selectArrow.jpg) no-repeat 95% 50%;
		border:solid 1px #000;
		border-radius:none;
	}
	.moveButton{
		position:relative;
		float:left;
		width:60px;
		height:100%;
		font-family: "Nanum Gothic", sans-serif;
		font-size:13px;
		font-weight:bold;
		color:#000 !important;
		background:#FFF !important;
		border:solid 1px #eee;
		margin-left:30px;
	}
	
	.section1-title,.section1-ment1,.pw{
		position:relative;
		width:100%;
		font-family: "Nanum Gothic", sans-serif;
		text-align:center;
		color:#4c5462;
	}
	.section1-title{
		font-size:20px;
	}
	.section1-ment1{
		font-size:13px;
		margin-top:35px;
	}
	
	.PWcheckingBox{
		position:relative;
		width:330px;
		height:35px;
		margin:0 auto;
		margin-top:35px;
		color:#4c5462;
	}
	.pw{
		position:relative;
		float:left;
		width:55px;
		height:100%;
		font-family: "Nanum Gothic", sans-serif;
		font-size:13px;
		line-height:35px;
		text-align:center;
		color:#4c5462;
		margin-right:15px;
	}
	.pwInput{
		position:relative;
		float:left;
		width:150px;
		height:100%;
		font-family: "Nanum Gothic", sans-serif;
		font-size:13px;
		background:#f5f5f5;
		border:solid 1px #eee;
		margin-right:30px;

	}
	.submitButton{
		position:relative;
		float:left;
		width:80px;
		height:100%;
		line-height:35px;
	}
	
	.section1-ment2{
		position:relative;
		width:100%;
		height:90px;
		font-family: "Nanum Gothic", sans-serif;
		font-size:12px;
		text-align:center;
		line-height:150%;
		color:#4c5462;
		background:#f5f5f5;
		padding-top:25px;
		margin-top:50px;
	}
	.tableBox td{
		width:12.5%;
	}
	.tableBox td:nth-child(1){
		width:5%;
	}
	.tableBox td:nth-child(3){
		width:40%;
		text-indent: 50px;
		text-align:left;
	}
	.tableBox tr:nth-child(1) td:nth-child(3){
		text-align:center;
	}
	.tableBox td:nth-child(5){
		width:8.25%;
	}
	.tableBox td:nth-child(6){
		width:8.25%;
	}
	.tableBox td{
	}
	.tableBox tr:nth-child(n+2) td{
		height:60px;
		padding-top:25px;
	}
	.tableBox tr:nth-child(n+2) td:nth-child(7){
		padding-top:10px;
	}
	.tableBox tr:nth-child(n+2) td:nth-child(5){
		position:relative;
		padding-top:10px;
	}
	.TableBtn,.TableArrowDown,.TableArrowUp{
		width:100%;
		max-width:70px;
		height:20px;
		text-align:center;
		background:#666;
		line-height:20px;
		color:#fff;
		margin:0 auto;
		margin-bottom:5px;
	}
	.TableBtn:nth-child(1){
		background:#996867;		
	}
	.TableBtn:nth-child(2){
		background:#eee;		
	}
	.TableArrowUp,.TableArrowDown{
		position:absolute;
		width:10px;
		height:10px;
		top:20px;
		left:60%;
		background:url(../01_img/11_mypage/Arrow.png) center center no-repeat;
		background-size:cover;
	}
	.TableArrowUp{
		transform:rotate(180deg)
	}
	.TableArrowDown{
		top:35px;
	}
	.countText{
		position:absolute;
		display:inline-block;
		top:25px;
		left:35%;
	}
	.itemBox{
		position:relative;
	}
	.ItemImg{
		width:40px;
		height:50px;
		background:#03C;
		position:absolute;
		top:15%;
		border:1px solid #999;
		background-repeat:no-repeat !important;
		background-position:center center !important;
		background-size:contain !important;
	}
	.tableBox tr:nth-child(2) .ItemImg{
		background:url(../01_img/03_Object-detail/box1_objectImage.jpg) ;
		background-size:contain;
	}
	.tableBox tr:nth-child(3) .ItemImg{
		background:url(../01_img/03_Object-detail/box1_objectImage.jpg) ;
		background-size:contain;
	}
	.clickItemBox{
		margin-bottom:15px;
	}
	.wishiBtn{
		width:30%;
		height:60px;
		margin-left:1.5%;
		margin-right:1.5%;
		float:right;
		margin-top:110px;		
	}
	.BtnBox{
		width:100%;
		height:60px;
		position:relative;
	}
	
	.subBtn{
		width:100%;
		height:100%;
		line-height:60px;
	}
	.M{
		background:#FFF !important;
		color:#996867  !important;
		border:1px solid #996867  !important;
	}
	.T{
		background:#FFF  !important;
		border:1px solid  #cbcbcb  !important;
		color:#666  !important;
	}
	.TotalLine{
		width:100%;
		height:60px;
		background:#f5f5f5;
		line-height:60px;
		text-align:right;
		font-size:12px;
		padding-right:4%;
		margin-bottom:60px;
		border-bottom: 1px solid #996867;
	}
	.tableBox tr:last-child{
		border:none;
	}
	.TotalBox{
		width:100%;
		height:200px;
		border:solid #cbcbcb 6px ;
	}
	.TotalTop{
		width:95%;
		height:100px;
		border-bottom:1px dotted #666;
		margin:0 auto;
	}
	.TotalTopLeft{
		width:65%;
		height:100%;
		float:left;
	}
	.TotalTopRIght{
		width:34.9%;
		height:100%;
		float:left;
	}
	.RightTop,.RightBottom{
		width:100%;
		height:30px;
		line-height:30px;
		border-bottom:1px dotted #CCC;
		position:relative;
		text-align:right;
		font-size:12px;
		
	}
	.TotalTopLeft h6{
		font-size:24px;
		margin-top:15px;
	}
	.Tag{
		position:absolute;
		display:inline-block;
		left:0;
		top:0;
		height:30px;
		line-height:30px;
		font-size:12px;
	}
	.TotalTopRIght{
		margin-top:15px;
	}
	.TotalBottom{
		width:95%;
		margin:0 auto;
		text-align:right;
	}
	.font{
		font-size:12px;
		margin-left:10px;
	}
	.font:nth-child(2){
		font-size:30px;
	}
	.cartBtn{
		width:37%;
		height:60px;
		float:right;
		margin-top:60px;
    	margin-top: 30px;
	    position: absolute;
    	top: 0;
	    width: 100%;
	}
	.TopBtn,.BottomBtn{
		width: auto;
		height:30px;
		position:absolute;
		top:0px;
	}
	.BottomBtn{
		right:0;
	}
	.BottomBtn .Btn{
		width:130px;
		height:30px;
		text-align:center;
		font-size:12px;
		background:#cdcdcd;
		color:#fff;
		line-height:30px;
		float:left;
		margin-right: 5px;		
	}
	.mentBox{
		width:100%;
		height:60px;
		margin-top:150px;
	}
	.ment{
		width:auto;
		padding:0px 0px 0px 2%;
		border-left:#000 1px solid;
		font-size:12px;
		float:right;
	}
	.ment:nth-child(2){
		margin-right:5%;
		max-width:205px;
		width:40%
	}
	.ment:nth-child(1){
		max-width:300px;
		width:55%;
	}
	
}
@media all and (min-width: 767px){
	.section1-ment2{
		font-size:13px;
	}
	.wishiBtn{
		width:18%;
		margin-top:60px;	
		margin-right:0%;	
	}
	.cartBtn{
		width:37%;
		height:60px;
		float:right;
		margin-top:60px;
		position:static
    	top: 0;
	}
	.TopBtn,.BottomBtn{
		width:100%;
		height:30px;
		position:static
	}
	.mentBox{
		margin-top:120px;
	}
	
}
@media all and (min-width: 1024px){
}

